#gallery{
	height: 750px;
	background-color: #f6f7fd;
	color: #F21d2f;	
	font-size: 1.5em;
	text-align: center;
}
.container-galeria{
	display: grid;
	grid-template-columns:  1fr 1fr;
	justify-items: center;
}
#gallery .galeria{
	width: 380px;
	height: 240px;
	margin: 20px;
	border: 1px #FFF solid;
	border-radius: 5px;
	object-fit: cover;
	box-shadow: 5px 5px 25px #000; 
}	
#gallery .galeria:hover{
  transform: scale(1.11);
  transition: all .9s;
}	