.logo{
	background: url("../images/logo-pascoa.png") -10px 4px;
	background-size: left;
	background-size: 50px;
	background-repeat: no-repeat;
	border-image-source: 1px;
	background-color: RGBa(0,0,0,0);
}
.logo a{
	float: left !important;
	color: #FFF !important;
	font-size: 50px !important;
	font-family: "Monotype Corsiva" !important;
	text-shadow: 1px 1px #000 !important;
	padding-left: 1px !important;
	padding-top: 1px !important;
}
nav{
	display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu{
	font-family: "Raleway", sans-serif;
	background-color: rgb(26, 26, 26);	
	position: fixed;
	width: 100%;
	text-align: center;
	height: 80px;
	z-index: 1000;
}
#menu li{
	display: inline;
	line-height: 50px;
}
#menu a:link, a:visited{
	text-decoration: none;
  color: rgba(202, 206, 221, 0.8);
  font-weight: 600;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: 0.3s;
  padding: 6px 35px;
}
#menu a:hover, a:active{
	color: #FFF;
	text-shadow: #000 1px 1px;
}